<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.morsetranslator"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/morse_code"
        android:label="Haptic Authentication"
        android:theme="@style/AppTheme">

        <activity android:name=".Survey" />
        <activity android:name=".information" />


        <activity android:name=".dairystudy" />
        <activity android:name=".Video" />


        <activity android:name=".HABlindTutorial"/>
        <activity android:name=".enterPWtutorial"/>
        <activity android:name=".HAMainScreen"/>
        <activity android:name=".Settingsverification"/>



        <activity
            android:name=".homepage"
            android:label="Haptic Authentication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>